<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io(2)/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io(2)/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io(2)/favicon-16x16.png">
<link rel="manifest" href="../static/favicon_io(2)/site.webmanifest">
<title>Block Cart API</title>
</head>
<body>
    <nav class="ct-nav">
        <div><img src="../static/images/Check-Mark-clipart-for-free.png" alt=""></div>
        <div id="title-">
            <ul id="horizontal-list">
                <a href="{{url_for('site.home')}}">
                    <li><strong>Block Cart</strong></li>
                </a>
                <a href="{{url_for('site.profile')}}">
                    <li>Profile</li>
                </a>
                <a href="{{url_for('site.dashboard')}}">
                    <li>Dashboard</li>
                </a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}">
                    <li>Log Out</li>
                </a>
                {% else %}
                <a href="{{ url_for('auth.signin')}}">
                    <li>Sign In</li>
                </a>
                <a href="{{ url_for('auth.signup')}}">
                    <li>Sign Up</li>
                </a>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>