{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for cat, msg in messages %}
                {% if cat == 'user-created' %}
                    <div class="alert alert-success">
                        {{msg}}
                        <button type="button" class="close" data-dismiss = "alert" onclick="this.parentElement.style.display='none'">&times;</button>

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container" id="main-stuff">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Helping you invest in your Future </h2>
            <h5>Investment tracking and analysis from Data on hundreds of Exchanges </h5>
            <div id="docsbtn" >
                <a href="https://www.coinapi.io/" >
                    <button class="btn">View Our Docs</button>
                </a>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/Check-Mark-clipart-for-free.png" alt="Hero Header Image" >
        </div>
    </header>
        <!-- End of Header Section -->

        <!-- Star of Middle Section -->
        <section class="row" id="middle">
            <div class="col-12" id="middle-text">
                <h2>Track All Your Cryptocurrenies</h2>
                <p>Keep track of all your invesments, and find new opportunities</p>
            </div>
        </section>
        <!-- End of Middle Section -->

        <!-- Collection of Features Seciotn -->
        <section class="row" id="features-section">
            <div class="col-12 col-md-4">
              <img src="../../static/images/undraw_crypto_portfolio_2jy5.png" alt="API Image" id="api-image"> 
              <h4>Dedicated API Routes</h4>
              <p>
                  If you are a fan of using traditional API routes, we have those for you!
              </p>
            </div>
            <div class="col-12 col-md-4">
            <img src="../../static/images/undraw_nakamoto_2iv6.png" alt="graphql-image" id="graphql-image">
            <h4>GraphQL API Route</h4>
            <p>
                If you want ALL data from one endpoint, we have that too!
            </p>
           </div>

            <div class="col-12 col-md-4">
               <img src="../../static/images/undraw_Stock_prices_re_js33.png" alt="database image" id="database-image">
               <h4>Backed by a PostgreSQL Database</h4>
               <p>
                   All data will be persisted inside of a secure Postgres Database
               </p>
            </div>
        </section>
        <!-- End of Collection of Features -->

        <!-- Start of Community Section -->
        <section class="row" id="comm">
            <div class="col-12 col-md-6">
                <img src="../../static/images/undraw_Bitcoin_P2P_re_1xqa (1).png" alt="Drone Image" id="Drone-image">               
            </div>
            <div class="col-12 col-md-6">
                <h4>Talk with a large community of investors</h4>
                <p>
                    Talk with other devs around the world and collab 
                    on projects with your data. Join our slack channel and 
                    give a start to the project on Github!
                </p>
                <div>
                    <a href="https://github.com/HoustonHubbell/block_cart.git">
                        <button class="btn" >View on Github</button>
                    </a>
                    <button class="btn">Join our Slack Channel</button>
                </div>
            </div>
        </section>

        <!-- End of Community Section -->

        <!-- Start of Footer -->
        <footer class="row" id="footer">
            <div class="col-2 col-md-2">
               <img src="../../static/images/Check-Mark-clipart-for-free.png" alt="Coding Drones Logo" id="footer-logo"> 
            </div>
            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4>Block Cart</h4>
                    <p>Why Cryptocurrency?</p>
                    <p>The Block Cart Project</p>
                    <p>Donate</p>
                    <p>Get Started</p>
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <img src="../../static/images/Check-Mark-clipart-for-free.png" alt="Coding Drones Logo" id="footer-logo"> 
            </div>

        
        </footer>

    
</div>

{% endblock content %}