

/* Nav Styles */
.container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}


.ct-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(85, 228, 80);
}

/* Target Main Logo Image */

.ct-nav img {
    width:10%;
    max-width: 50%;
    margin-left: 2vw;
    border-radius: 150px;
    border-top: 100px;
    border-bottom: 100px;
}
ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;

}
#title-{
    color: black;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    justify-content: right;
    text-decoration: none;
    padding: .5vw;
    color: rgb(0, 0, 0);
    align-items: right;
}

ul#horizontal-list a:nth-last-child(2){

    margin-right: .2vw;
    align-items: right;
}
ul#horizontal-list a:nth-last-child(3){

    margin-right: .2vw;
}

ul#horizontal-list a:nth-last-child(1){

    margin-right: .2vw;
}
/* End of Navbar Styles */

.btn {
    background-color: rgb(85, 228, 80);
    color: black;
    border-radius: 150px;
}



/* Start of Header Section */
header{
    border-top-left-radius: 0%;
    background-color: rgb(255, 255, 255);
    color: black;
    padding-bottom: 5%;
    padding-top: 5%;
}

#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
    border-radius: 150px;
}

#docsbtn{
    margin-top: 5%;
}
/* End of our Header Section Styles */

/* Start of our Middle Section */
#middle{
    padding-bottom: 10%;
}
#middle-text{
    text-align: center;
}

#middle-text h2{
    padding: 1.5vw;
}



/* End our Middle Section Styles */

/* Start of Feature section styles */
#api-image, #graphql-image, #database-image{
    margin-bottom: 10vh;
}

#features-section{
    border-top: 3px solid black;
    padding-top: 10%;
    padding-bottom: 10%;
}

#api-image{
    padding-top: 11%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

#graphql-image{
    padding-top: 6%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

#database-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

/* End of features section */

/* Community Section Styles */
#comm{
    border-top: 3px solid black;
    padding-top: 10%;
}
#Drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}
/* End of Community Section */


/* Footer Styles Section */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
    border-radius: 150px;
}

#footer{
    padding-top: 5%;
    justify-content: space-between;
    border-top: 3px solid black;
    margin-top: 20vh;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
}

/* Profile Styles */
.hero-section{
    height: 95vh;
    background-image: url(../images/Check-Mark-clipart-for-free.png);    
    background-size: cover;
    background-position: 50% 50%;
    position: relative
}

#profile-info{
    width: 50%;
    border: 2px solid black;
    text-align: center;
}


.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color:rgb(0, 0, 0)
}

/*Dashboard section */
#wallet-info{
    margin-bottom: 10%;
}

#table-info{
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
}
#table-head{
    text-align: center;
    align-items: center;
}

#search{
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#search-field{
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

/* forms*/

#sign-in{
    justify-content: center;
    padding-left: 25%;
    padding-top: 10%;
    text-align: center;
}
#sign-up{
    justify-content: center;
    padding-left: 25%;
    padding-top: 10%;
    text-align: center;
}

#email-field{
    margin-top: 5%;
    margin-bottom: 5%;
}

#pass-field{
    margin-bottom: 5%;
}