#main-stuff{
}

/* Nav Styles */
.container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}


.ct-nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 244, 10);
}

/* Target Main Logo Image */

.ct-nav img {
    width:25%;
    max-width: 100%;
    margin-left: 2vw;
}
ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;

}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: .5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(2){
    border: 2px solid black;
    margin-right: .2vw;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid black;
    margin-right: .2vw;
}
/* End of Navbar Styles */

.btn {
    background-color: rgb(17, 244, 10);
    color: black;
    border: 1px solid black;
}



/* Start of Header Section */
header{
    border-top: 2px solid black;
    border-top-left-radius: 0%;
    background-color: rgb(255, 255, 255);
    color: black;
}

#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
    border-radius: 150px;
}
/* End of our Header Section Styles */

/* Start of our Middle Section */
#middle-text{
    text-align: center;
}

#middle-text h2{
    padding: 1.5vw;
}

/* End our Middle Section Styles */

/* Start of Feature section styles */
#api-image, #graphql-image, #database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}

#api-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

#graphql-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

#database-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 150px;
}

/* End of features section */

/* Community Section Styles */
#Drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
    border-radius: 150px;
}
/* End of Community Section */


/* Footer Styles Section */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
    border-radius: 150px;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
    background-color: rgb(17, 244, 10);
    color: black;
}

/* Profile Styles */
.hero-section{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0.7), rgba(142, 57, 153, 0.6)), url(../images/undraw_digital_currency_qpak.png);    
    background-size: cover;
    background-position: 50% 50%;
    position: relative
}

#profile-info{
    background-color: rgb(17, 244, 10);
}


.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color:white
}

/*Dashboard section */
#table-info{
    background-color: rgb(255, 255, 255);
}

#search-coin{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}